@font-face {
  font-family: 'jua';
  src: url('./fonts/GowunDodum-Regular.ttf');
}
.App {
  font-family: 'jua';
}

h1 {
  text-align: center;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px 20px 10px 0px;
  font-size: 1.2rem;
}

.header a:hover {
  font-weight: bold;
  color: white;
}

.posts a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 20px 20px;
  color: gray;
}

.posts a:hover {
  color: black;
}

.ellipsis {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}